
Code/Data/0--Parade/

Code/Data/10--People_Marching/

Code/Data/1--Handshaking/

Code/Data/11--Meeting/

Code/Data/12--Group/

Code/Data/13--Interview/

Code/Data/

Code/__pycache__/

Code/DataTypes\.txt

\.vscode/settings\.json

Code/backup\.py
